<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/master.css">
    <title>conscious</title>
    <link rel="shortcut icon" href="../static/cloudicon.png"/>
  </head>
  <body>
    <header>
      <h1><img src="../static/cloudicon.png" width=50px height=50px/><a href="/" id="title">conscious</a></h1>
      <nav>
        <ul>
          <li><a href="/anxiety">Anxiety</a></li>
          <li><a href="/depression">Depression</a></li>
          <li><a href="/eatingdisorder">Eating Disorders</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/about" class="active">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="page">
      <h1 id="pgtitle">About</h1>
      <div class="main">
        <p>Feedback? Please click <a href="https://forms.gle/hsSqaYxG4TTfVFye8">here</a></p>
        <p>Made with love at <a href="http://boston.techtogether.io">TechTogether Boston 2020</a> by Javeria, Jessica, Katie, Mimi, and Olly</p>
        <h2 id="disclaimer">Full Disclaimer</h2>
        <p>(In effect from Feb. 1, 2020) By using this application, you acknowledge and agree to all of the following:</p>
        <ul>
          <li>Information on this application comes from online resources</li>
            <ul>
              <li>No medical professionals were consulted in the creation of this site</li>
              <li>We are not responsible for the content on external links on this site</li>
                <ul>
                  <li>All links were last checked on Feb. 1, 2020</li>
                </ul>
              <li>Do not take the information on this site as medical advice; rather, use this site to assist in making an informed decision on seeking professional medical consultation</li>
            </ul>
          <li>Do not use this website to self-diagnose mental health issues</li>
            <ul>
              <li>If you or a friend feel any symptoms of mental illness, seek professional medical help</li>
              <li>Diagnosis should be done by liscensed medical professionals</li>
              <li>Self-diagnosis can be harmful, read more <a href="https://www.psychologytoday.com/us/blog/debunking-myths-the-mind/201005/the-dangers-self-diagnosis">here</a></li>
            </ul>
          <li>Take care of yourself, some things take time</li>
        </ul>
      </div>
    </div>
    <footer>
      <h3>IMPORTANT DISCLAIMER</h3>
      <p>This web application was designed without consultation of medical professionals. By using this site, you agree to the <a href="/about#disclaimer">full disclaimer.</a></p>
      <p>&copy; 2020 conscious.</p>
    </footer>
  </body>
</html>
