<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/master.css">
    <title>conscious</title>
    <link rel="shortcut icon" href="../static/cloudicon.png"/>
  </head>
  <body>
    <header>
      <h1><img src="../static/cloudicon.png" width=50px height=50px/><a href="/" id="title">conscious</a></h1>
      <nav>
        <ul>
          <li><a href="/anxiety" class="active">Anxiety</a></li>
          <li><a href="/depression">Depression</a></li>
          <li><a href="/eatingdisorder">Eating Disorders</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <div id="page">
      <h1 id="pgtitle">Understanding Anxiety</h1>
      <div class="main">
        <h2>What is anxiety?</h2>
        <p>Anxiety encompasses feelings of worry, nervousness, and dread. All of these feelings are natural; they can help humans avoid danger and make important decisions. However, there is a clear distinction to be made between having anxious feelings and an anxiety disorder. Feelings of anxiety that become pervasive and disruptive to daily life can be indicative of an anxiety disorder. In fact, nearly ⅓ of US adults grapple with anxiety at some point in their life. Anxiety disorders can manifest in a multitude of ways such as:
            <ul>
                <li><p>Generalized anxiety disorder: chronic  state of severe tension & worry</p></li>
                <li><p>Panic disorder: characterized by sudden and repeated panic attacks</p></li>
                <li><p>Obsessive-compulsive disorder: marked by intrusive thoughts or compulsions to carry out specific behaviors</p></li>
            </ul>
        </p>
        <h2>How To Combat and Treat Anxiety</h2>
        <p>Unfortunately, there is no straight-forward cure for anxiety. However, there are ways to combat anxiety. </p>
            <ul>
                <li><p>Take Back Control: Anxiety often stems from an excessive focus on future possibilities. Focusing on the things you can control helps to bring back a sense of empowerment. </p>
                <li><p>Meditation: Meditation, the practice of focusing the mind on a particular object, thought or activity, can be very benificial to people dealing with anxiety. In the middle of an episode, for example, meditation can help individuals to feel centered and find a sense of calm.   </p></li>
                <li><p>Prescribed Medication: While medication can't take away anxiety, they can help to reduce the intensity of episodes. Under the care of a doctor, prescribed medication can be effective short (or long) term ways to handle anxiety.</p></li>
                <li><p>Self care: It is easy to forgot that sometimes, we just need to take of ourselves. Whether your version of self-care be putting on a face mask or indulging in a guilty pleasure, self-care is a great way to recenter yourself. </p></li>
            </ul>
<p> The suggestions above are some methods to combat anxiety. For more resources regarding Anxiety, please refer to the Resources page.</p>
<p>Sources: <a href="https://www.psychologytoday.com/us/basics/anxiety">Pyschology Today - Anxiety</a>
    <a href= "https://www.nytimes.com/2017/12/21/smarter-living/how-to-combat-your-anxiety-one-step-at-a-time.html"> NYT - Combatting Anxiety</a></p>
      </div>
    </div>
    <footer>
      <h3>IMPORTANT DISCLAIMER</h3>
      <p>This web application was designed without consultation of medical professionals. By using this site, you agree to the <a href="/about#disclaimer">full disclaimer.</a></p>
      <p>&copy; 2020 conscious.</p>
    </footer>
  </body>
</html>
