<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/master.css">
    <title>conscious</title>
    <link rel="shortcut icon" href="../static/cloudicon.png"/>
  </head>
  <body>
    <header>
      <h1><img src="../static/cloudicon.png" width=50px height=50px/><a href="/" id="title">conscious</a></h1>
      <nav>
        <ul>
          <li><a href="/anxiety">Anxiety</a></li>
          <li><a href="/depression">Depression</a></li>
          <li><a href="/eatingdisorder" class="active">Eating Disorders</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <div id="page">
      <h1 id="pgtitle">Eating Disorders</h1>
      <div class="main">
          <div class="contents">
            <ul>
              <h3>Table of Contents</h3>
              <li><a href="#anorexia">Anorexia Nervosa</a></li>
              <ul>
                <li><a href="#anorexia-what">What is it?</a></li>
                <li><a href="#anorexia-symptoms">Common Symptoms</a></li>
                <li><a href="#anorexia-effects">Effects on Health</a></li>
              </ul>
              <li><a href="#bulimia">Bulimia Nervosa</a></li>
              <ul>
                <li><a href="#bulimia-what">What is it?</a></li>
                <li><a href="#bulimia-symptoms">Common Symptoms</a></li>
                <li><a href="#bulimia-effects">Effects on Health</a></li>
              </ul>
              <li><a href="#binge">Binge-eating Disorder</a></li>
              <ul>
                <li><a href="#binge-what">What is it?</a></li>
                <li><a href="#binge-symptoms">Common Symptoms</a></li>
                <li><a href="#binge-effects">Effects on Health</a></li>
              </ul>
              <li><a href="#eatdishelp">Help for people with eating disorders</a></li>
            </ul>
          </div>
          <h3 id="anorexia">Anorexia Nervosa</h3>
          <b id="anorexia-what">What is it?</b>
          <p>People with anorexia constantly worry about their weight. They avoid eating certain foods, and eat very little, causing very low caloric intake. They are often severely underweight and skinny.</p>
          <b id="anorexia-symptoms">Common Symptoms</b>
          <ul>
            <li>Becoming severely underweight in comparison to peers</li>
            <li>Restricted eating patterns</li>
            <li>Absolute fear of gaining weight</li>
            <li>Strong desire for thinness</li>
            <li>Objection to maintaining a healthy weight</li>
            <li>Constant thought about food intake, calorie counting</li>
            <li>Distorted body image</li>
            <li>Denial of being severely underweight</li>
          </ul>
          <b id="anorexia-effects">Effects on Health</b>
          <ul>
            <li>Thinning of their bones</li>
            <li>Infertility</li>
            <li>Brittle hair and nails</li>
            <li>Growth of a layer of fine hair all over body</li>
          </ul>
          <p>If more severe, it can cause</p>
          <ul>
            <li>heart failure</li>
            <li>brain falure</li>
            <li>multi-organ failure</li>
            <li>death</li>
        </ul>

        <h3 id="bulimia">Bulimia Nervosa</h3>
        <b id="bulimia-what">What is it?</b>
        <p>People with bulimia frequently eat unusually large amounts of food in a period of time.
          They eat uncontrollably until they become painfully full. Then, they go on to purge/vomit to get rid of
          calories consumed and to relieve gut discomfort. They may also fast, take laxatives, diuretics (increase urine production),
          enemas (injection to increase excretion), and excessive exercise. They generally maintain a regular weight.
        </p>
        <b id="bulimia-symptoms">Common Symptoms</b>
        <ul>
          <li>Recurrent episodes of binge eating uncontrollably</li>
          <li>Recurrent episodes of purging to prevent weight gain</li>
          <li>A self-esteem largely based off of by body shape and weight</li>
          <li>A fear of gaining weight</li>
        </ul>
        <b id="bulimia-effects">Effects on Health</b>
        <ul>
          <li>inflamed and sore throat</li>
          <li>swollen salivary glands</li>
          <li>worn tooth enamel</li>
          <li>tooth decay</li>
          <li>severe dehydration</li>
          <li>acid reflux</li>
          <li>irritation of the gut</li>
          <li>hormonal disturbances</li>
          <li>stroke or heat attack due to imbalance in levels of electrolytes(e.g.sodium, potassium, and calcium)</li>
        </ul>

        <h3 id="binge">Binge-eating Disorder</h3>
        <b id="binge-what">What is it?</b>
        <p>People with binge-eating disorder constantly worry about their weight as well. similar to bulimia, they eat uncontrollably until they become painfully full, but they do not purge. they do not restrict calories either, and commonly are overweight or obese.</p>
        <b id="binge-symptoms">Common Symptoms</b>
        <ul>
          <li>Eating large amounts of foods rapidly</li>
          <li>Feeling a lack of control during episodes of binge eating</li>
          <li>Feelings of distress, shame, disgust, or guilt thinking about a binge eating episode</li>
          <li>No purging, excessive exercise, laxative use... etc.</li>
        </ul>
        <b id="binge-effects">Effects on Health</b>
        <ul>
          <li>overweight or obese</li>
          <li>increased risk of</li>
        <ul>
          <li>heart disease</li>
          <li>stroke</li>
          <li>type 2 diabetes</li>
          </ul>
        </ul>

<h3 id="eatdishelp">Ways to Help Those With Eating Disorders</h3>
  <ul>
    <li>Talk to them about it</li>
      <ul>
      <li>avoid shaming</li>
      <li>avoid blaming</li>
      <li>avoid commenting about their appearance and weight</li>
      </ul>

    <li>encourage them to get help</li>
      <ul>
      <li>Medical Treatment</li>
      <li>Nutritional Counseling</li>
      <li>Therapy</li>
      </ul>
    <li>Implement small goals</li>
  </ul>
      <p> Love yourself! You are beautiful! </p>
      <p>Sources: <a href="https://www.nationaleatingdisorders.org/body-image-0">Body Image</a>, <a href="https://www.nationaleatingdisorders.org/learn/general-information/developing-positive-body-img">Developing & Modeling Positive Body Image</a>, <a href="https://www.healthline.com/nutrition/common-eating-disorders">6 Common Types of Eating Disorders (and Their Symptoms)</a></p>
      </div>
    </div>
    <footer>
      <h3>IMPORTANT DISCLAIMER</h3>
      <p>This web application was designed without consultation of medical professionals. By using this site, you agree to the <a href="/about#disclaimer">full disclaimer.</a></p>
      <p>&copy; 2020 conscious.</p>
    </footer>
  </body>
</html>
